[project]
	description = Alma Getting Things Done
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gerson Sunyé (sunye)
[access "refs/for/refs/*"]
	read = group user/Gerson Sunyé (sunye)
	push = group user/Gerson Sunyé (sunye)
	label-Code-Review = -2..+2 group user/Gerson Sunyé (sunye)
	label-Verified = -1..+1 group user/Gerson Sunyé (sunye)
	rebase = group user/Gerson Sunyé (sunye)
	removeReviewer = group user/Gerson Sunyé (sunye)
	submit = group user/Gerson Sunyé (sunye)
[access "refs/heads/*"]
	read = group user/Gerson Sunyé (sunye)
	create = group user/Gerson Sunyé (sunye)
	push = +force group user/Gerson Sunyé (sunye)
	pushMerge = group user/Gerson Sunyé (sunye)
[access "refs/tags/*"]
	push = group user/Gerson Sunyé (sunye)
	push = +force group user/Gerson Sunyé (sunye)
